*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/junk
/app/build
/app/release
/app/src.tar.gz
/app/src.zip
/app/google-services.json
.externalNativeBuild
